/* Arquivo: styles.css */

/* Estilo base do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do aplicativo principal */
.App {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    min-width: 320px;
}

/* Largura do container principal dependendo da tela */
.App.login-view {
    max-width: 300px;
}

.App.content-view {
    max-width: 800px;
}

.App:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo dos formulários */
.login-form, .user-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.user-form {
    max-width: none; /* Remover a limitação de largura do formulário de usuário */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os inputs */
    justify-content: center;
}

.user-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.width60{
    width: 60%;
}

.user-form .full-width {
    width: 100%;
}

.login-form input, .login-form button, .user-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button, .user-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover, .user-form button:hover {
    background-color: #0056b3;
}

.user-form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-form-row input {
    flex: 1;
    margin-right: 10px;
}

.user-form-row input:last-child {
    margin-right: 0;
}

.user-form-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilo da lista de usuários */
.user-list {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.user-list h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.edit {
    background-color: #ffc107;
    color: #fff;
}

button.edit:hover {
    background-color: #e0a800;
}

button.delete {
    background-color: #dc3545;
    color: #fff;
}

button.delete:hover {
    background-color: #c82333;
}

.user-management {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c82333;
}

.user-form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center; /* Centralizar o label */
}

.user-form label input[type="checkbox"] {
    margin-left: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo da linha de checkbox no formulário do usuário */
.user-form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.user-form-checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Remover margem inferior da label */
}

.user-form-checkbox input[type="checkbox"] {
    margin-left: 10px; /* Espaçamento entre o texto da label e o checkbox */
}
